<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título</title>
  <link rel="stylesheet" href="/css/estilos.min.css">
</head>
<body>
  <h1>¡Funciona!</h1>
  <p>{{@prueba}}</p>

  <include href="{{@interna}}"></include>

  <!-- scripts -->
  <script src="/js/magia.min.js"></script>
  <check if="{{@scripts}}">
    <repeat group="{{@scripts}}" value="{{@script}}">
      <script src="{{@script}}"></script>
    </repeat>
  </check>
</body>
</html>
